📊 <b>Macro / ФРС / геополитика рынков (24ч)</b>

{% for item in buckets.macro %}
<b>{{ loop.index }}. {{ item.title | e }}</b>
{{ item.summary | e }}
<i>{{ item.engagement_note | e }}</i>

{% endfor %}
💰 <b>Криптовалюта (24ч)</b>

{% for item in buckets.crypto %}
<b>{{ loop.index }}. {{ item.title | e }}</b>
{{ item.summary | e }}
<i>{{ item.engagement_note | e }}</i>

{% endfor %}
